################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AssessmentTask/.vs
/AssessmentTask/AssessmentTask/obj
/AssessmentTask/AssessmentTask/bin/Debug/net8.0
